<!--Chatbot-->
<div id="chatbot-container">
    <div class="chatbox-holder">
        <div class="chatbox">
            <div class="chatbox-top">
                <div class="chatbox-avatar">
                    <a target="_blank" href=""><img src="" /></a>
                </div>
                <div class="chat-partner-name">
                    <span class="status online"></span>
                    <a target="_blank" href="">Mamun Khandaker</a>
                </div>
                <div class="chatbox-icons">
                    <a href="javascript:void(0);"><i class="fa fa-minus"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-close"></i></a>
                </div>
            </div>

            <div class="chat-messages">
                <div class="message-box-holder">
                    <div class="message-box">
                        Hello
                    </div>
                </div>

                <div class="message-box-holder">
                    <div class="message-sender">
                        Mamun Khandaker
                    </div>
                    <div class="message-box message-partner">
                        Hi.
                    </div>
                </div>

                <div class="message-box-holder">
                    <div class="message-box">
                        How are you doing?
                    </div>
                </div>

                <div class="message-box-holder">
                    <div class="message-sender">
                        Mamun Khandaker
                    </div>
                    <div class="message-box message-partner">
                        I'm doing fine. How about you?
                    </div>
                </div>

                <div class="message-box-holder">
                    <div class="message-box">
                        I am fine.
                    </div>
                </div>

            </div>

            <div class="chat-input-holder">
                <input type="text" class="chat-input" placeholder="Type your message here..." />
                <input type="submit" value="Send" class="message-send" />
            </div>
        </div>
    </div>
</div>
</div>
</div>