<footer>
    <div>
        <img src="/images/logo_icon.png" alt="logo">
    </div>
    <div>
        <p><a href="/">Home</a></p>
        <% if(locals.user){ %>
        <p><a href="/users/profile">Profile</a></p>
        <%}%>
        <p>@ made by Omprakash Choudhary</p>
    </div>
</footer>