<header>
    <div>
        <img src="/images/logo_icon.png" alt="logo">
        <div><p>Codial</p></div>
    </div>
    <ul>
        <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user._id %>"><button><%= user.name %></button></a></li>
            <li>
                <a href="/users/signout"><button>Sign-Out</button></a>
            </li>
        <% }else{%>
            <li>
                <a href="/users/login"><button>Sign-In</button></a>
            </li>
            <li>
                <a href="/users/signup"><button>Sign-Up</button></a>
            </li>
        <%}%>
    </ul>
</header>