<header>
    <div>
        <img src="/images/logo_icon.png" alt="logo">
        <div><p>Codial</p></div>
    </div>
    <ul>
        <% if(locals.user){ %>
            <li><button><a href="/users/profile"><%= user.name %></a></button></li>
            <li>
                <button><a href="/users/signout">Sign-Out</a></button>
            </li>
        <% }else{%>
            <li>
                <button><a href="/users/login">Sign-In</a></button>
            </li>
            <li>
                <button><a href="/users/signup">Sign-Up</a></button>
            </li>
        <%}%>
    </ul>
</header>