<!-- Create Feed Post Start-->
<div class="modal fade" id="modalCreateFeed" tabindex="-1" aria-labelledby="modalLabelCreateFeed" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelCreateFeed">Create post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex mb-3 body1">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2 d-none d-sm-block">
            <img class="avatar-img rounded-circle" src="<%= locals.user.avatar %>" alt="" />
          </div>
          <!-- Feed box  -->
          <form class="w-100" id="normalfeedpost">
            <textarea class="form-control pe-4 fs-3 lh-1 border-0" rows="4" placeholder="Share your thoughts..." autofocus=""></textarea>
          </form>
        </div>
        <div class="d-flex mb-2">
          <!-- Feed rect START -->
          <div class="hstack gap-2">
            <a class="icon-md bg-success bg-opacity-10 text-success rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Photo" data-bs-original-title="Photo">
              <i class="fa fa-image"></i>
            </a>
            <a class="icon-md bg-info bg-opacity-10 text-info rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Video" data-bs-original-title="Video">
              <i class="fa fa-video-camera"></i>
            </a>
            <a class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Events" data-bs-original-title="Events">
              <i class="fa fa-calendar"></i>
            </a>
            <a class="icon-md bg-warning bg-opacity-10 text-warning rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Feeling/Activity" data-bs-original-title="Feeling/Activity">
              <i class="fa fa-smile"></i>
            </a>
            <a class="icon-md bg-light text-secondary rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Check in" data-bs-original-title="Check in">
              <i class="fa fa-map-marker-alt"></i>
            </a>
            <a class="icon-md bg-primary bg-opacity-10 text-primary rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Tag people on top" data-bs-original-title="Tag people on top">
              <i class="fa fa-user"></i>
            </a>
          </div>
          <!-- Feed rect END -->

        </div>
        <!-- Modal feed body END -->

        <!-- Modal feed footer -->
        <div class="modal-footer">
          <!-- Button -->
          <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-success-soft" id="postnormalfeed">
            Post
          </button>
        </div>
        <!-- Modal feed footer -->
      </div>
    </div>
  </div>
</div>
<!-- Create Feed Post  Ends-->
<!-- Create Feed Photo Start-->
<div class="modal fade" id="feedActionPhoto" tabindex="-1" aria-labelledby="feedActionPhotoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionPhotoLabel">Add post photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex mb-1 body1">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2 d-none d-sm-block">
            <img class="avatar-img rounded-circle" src="<%= locals.user.avatar %>" alt="" />
          </div>
          <!-- Feed box  -->
          <form class="w-100" id="photofeedpost">
            <textarea class="form-control pe-4 lh-1 border-0 fw-bold" rows="3" placeholder="Share your thoughts..."></textarea>
          </form>
        </div>
        <div class="panel">
          <div class="button_outer">
            <div class="btn_upload fw-bold">
              <input type="file" id="upload_file" name="" />
              Upload Image
            </div>
            <div class="processing_bar"></div>
            <div class="success_box"></div>
          </div>
        </div>
        <!-- File Preview -->
        <div class="error_msg"></div>
        <div class="uploaded_file_view mt-2" id="uploaded_view">
          <span class="file_remove">X</span>
        </div>
      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer">
        <!-- Button -->
        <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-success-soft" id="postphotofeed">
          Post
        </button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Create Feed Photo Ends-->
<!-- Create Feed Video Start-->
<div class="modal fade" id="feedActionVideo" tabindex="-1" aria-labelledby="feedActionVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionVideoLabel">Add post video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex body1 mb-1">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2 d-none d-sm-block">
            <img class="avatar-img rounded-circle" src="<%= locals.user.avatar %>" alt="" />
          </div>
          <!-- Feed box  -->
          <form class="w-100" id="videofeedpost">
            <textarea class="form-control pe-4  lh-1 border-0 fw-bold" rows="3" placeholder="Share your thoughts..."></textarea>
          </form>
        </div>

        <div class="panel1">
          <div class="button_outer1">
            <div class="btn_upload1 fw-bold">
              <input type="file" id="upload_videofile" name="" />
              Upload Video
            </div>
            <div class="processing_bar1"></div>
            <div class="success_box1"></div>
          </div>
        </div>
        <!-- File Preview -->
        <div class="error_msg1"></div>
        <div class="uploaded_file_view1 mt-2" id="uploaded_videoview">
          <span class="file_remove1">X</span>
        </div>
      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer">
        <!-- Button -->
        <button type="button" class="btn btn-danger-soft me-2">
          <i class="bi bi-camera-video-fill pe-1"></i> Live video
        </button>
        <button type="button" class="btn btn-success-soft" id="postvideofeed">
          Post
        </button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Create Feed Video Ends -->
<script>
  var btnUpload = $("#upload_file"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e) {
    var ext = btnUpload.val().split(".").pop().toLowerCase();
    var name = btnUpload.val().split("\\").pop();

    if ($.inArray(ext, ["gif", "png", "jpg", "jpeg"]) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      var size = Math.round(btnUpload[0].files[0].size / 1024) + "KB";

      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function() {
        btnOuter.addClass("file_uploaded");
      }, 0);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function() {
        $("#uploaded_view")
          .append('<img src="' + uploadedFile + '" />')
          .append('<div class="overlay">' + name + " (" + size + ")" +
            "</div>")
          .addClass("show")
      }, 0);
    }
  });
  var btnUploadvideo = $("#upload_videofile"),
    btnOuter = $(".button_outer1");
  btnUploadvideo.on("change", function(e) {
    var ext = btnUploadvideo.val().split(".").pop().toLowerCase();
    var name = btnUploadvideo.val().split("\\").pop();
    if ($.inArray(ext, ["mp4", "avi", "mov", "flv"]) == -1) {
      $(".error_msg1").text("Not a Video...");
    } else {
      var size = btnUploadvideo[0].files[0].size / (1024 * 1024);
      size = Math.round(size);
      size = size + "MB";
      if (parseInt(size) > 50) {
        $(".error_msg1").text("Video size should be less than 50MB");
      } else {
        $(".error_msg1").text("");
        btnOuter.addClass("file_uploading1");
        setTimeout(function() {
          btnOuter.addClass("file_uploaded1");
        }, 200);
        var uploadedFile = URL.createObjectURL(e.target.files[0]);
        setTimeout(function() {
          $("#uploaded_videoview")
            .append(
              '<video src="' +
              uploadedFile +
              '" class="video-fluid" autoplay loop muted></video>'
            ).append('<div class="overlay">' + name + " (" + size + ")" +
              "</div>")
            .addClass("show");
        }, 300);
      }
    }
  });

  $(".file_remove").on("click", function(e) {
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    $("#uploaded_view").find("div").remove();
    $("#upload_file").val("");
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });
  $(".file_remove1").on("click", function(e) {
    $("#uploaded_videoview").removeClass("show");
    $("#uploaded_videoview").find("video").remove();
    $("#uploaded_videoview").find("div").remove();
    $("#upload_videofile").val("");
    btnOuter.removeClass("file_uploading1");
    btnOuter.removeClass("file_uploaded1");
  });
</script>