 <section id="news-card">
   <!-- Showing News -->
   <div class="container-fluid mb-0 p-0 d-flex justify-content-center">
     <div class="card p-4 pt-2 gap-3">
       <div class="headline d-flex">
         <h5 class="text-dark m-0 p-0">News</h5>
         <i class="fa fa-newspaper-o"></i>
       </div>
       <ul class="news-list-container">
         <li class="news">
           Wait for it...
         </li>
       </ul>
     </div>
   </div>
 </section>