 <section id="news-card">
   <!-- Showing News -->
   <div class="container mb-2 p-0 d-flex justify-content-center">
     <div class="card p-4 pt-2 gap-3">
       <div class="headline d-flex">
         <h5 class="text-dark m-0 p-0">News</h5>
         <i class="fa fa-newspaper-o"></i>
       </div>
       <ul class="news-list" id="news-lists">
         <li class="news">
           <a href="">Twitter hacker and crypto scammer sentenced to five years in prison


           </a>
         </li>
       </ul>
     </div>
   </div>
 </section>
 <script src="<%=assetPath('js/news_api.js')%>"></script>