<div id="post-<%= post._id %>" class="post">
    <div class="ithpost">
        <div class="name">
            <span>
                <% if(post.user.avatar){ %>
                    <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>" />
                <% } else { %>
                    <img src="<%=assetPath('images/default-avatar.png')%>" alt="<%= post.user.name %>" />
                <% } %>
                <%= post.user.name %>
            </span>
            <% if(locals.user && locals.user.id==post.user.id){ %>
                <div>
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fa-solid fa-circle-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
        <div class="content">
            <%= post.content %>
            <% if(post.image){ %>
            <img src="<%= post.image %>" alt="">
            <% } %>
        </div>
        <small>
            <% if (locals.user){ %>
                <a class="toggle-like-button " data-likes="<%= post.likes.length %>"
                    href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <button class="like__btn">
                        
                        <span id="icon"><i class="fas fa-thumbs-up"></i></span>
                        <span id="count">
                            <%= post.likes.length %>
                        </span> Like
                        
                    </button>
                </a>
            <% }else{ %>
                <button class="like__btn">
                    <span id="icon"><i class="far fa-thumbs-up"></i></span>
                    <span id="count">
                        <%= post.likes.length %>
                    </span> 
                </button>
            <% } %>
        </small>
    </div>
    <div class="post-comments">
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST" id="post-<%= post._id %>-comments-form">
                <input required type="text" id="comment-input" name="content" placeholder="Type Here to add comment">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" id="add-comment" value="Add Comment">
            </form>
            <% } %>
                <div class="post-comments-list">
                    <div class="post-comments-list-container" id="post-comments-<%= post._id %>">
                        <% for(comment of post.comments) { %>
                            <%- include('_comment')%>
                        <% } %>
                    </div>
                </div>
    </div>
</div>