<link rel="stylesheet" href="<%=assetPath('css/home.css')%>">
<link rel="stylesheet" href="<%=assetPath('css/chatbox.css')%>">
<div id="home-containe">
    <section id="feed-posts">
        <h4>Post</h4>
        <% if(locals.user){%>
            <form action="/posts/create" enctype="multipart/form-data" id="new-post-form" class="form-for-post" method="post">
                <textarea  name="content" id="content" cols="25" rows="3" placeholder="Type Here.."></textarea>
                <div id="post-image-preview"></div>
                <input type="file" name="image" id="image" accept="image/*" >  
                <input type="submit" value="Post" id="post-submit">
            </form>
            <%}%>
                <!--Listing post-->
                <div id="post-list-container">
                    <div id="post-list-container-div">
                        <% for(post of posts) { %>
                            <%- include('_post')%>
                                <%}%>
                    </div>
                </div>
    </section>
    <% if(locals.users){%>
    <section id="user-friends">
        <h4>Friends</h4>
        <div id="friends-reload">
            <% if (locals.user && friends.length>0){%>
                <div id="friend-list">
                    <% for(u of friends){%>
                        <%- include('_friend')%>
                            <%}%>
                </div>
                <%}%>
        </div>
    </section>
    <%}%>
    <section id="chatbox">
        
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%=assetPath('js/home_post_comments.js')%>">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="<%=assetPath('js/home_posts.js')%>">
</script>
<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%=assetPath('js/toggle_likes.js')%>"></script>
<script src="<%=assetPath('js/chat_engine.js')%>"></script>

<script>
    $('.toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
    function filePreview(input){
        console.log(input.files);
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#post-image-preview >img').remove();
                $('#post-image-preview').append('<img id="preview" src="'+e.target.result.toString()+'" width="100" height="100" />');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#image").change(function(){
        console.log(this);
        filePreview(this);
    })
</script>