<h1>Codial / <%=title%>
</h1>

<section id="feed-posts">
    <h4>Post</h4>
    <% if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Type Here.."></textarea>
        <input type="submit" value="Post" id="post-submit">
    </form>
    <%}%>
    <hr>
    <!--Listing post-->
    <div id="post-list-container">
        <% for(i of posts) { %>
            <div class="post">
                <div class="name">
                    <%= i.user.name %>
                </div>
                <div class="content">
                    <%= i.content %>
                </div>
            </div>
        <%}%>
    </div>
</section>