<link rel="stylesheet" href="/css/login.css">
<div class="outer-container">
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <form action="/login" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="abc@xyz.com" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>
                <input type="submit" value="signup" id="signup" />
            </form>
        </div>
    </div>
</div>