<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codial /Profile in Page </h1>
<!-- Showing details of signed user -->
<div>
    <h2>Name : <%= user.name %></h2>
    <h2>Email : <%= user.email %></h2>
    <form action="/users/logout" method="post">
        <input type="submit" value="Logout">
</div>

