<link rel="stylesheet" href="<%=assetPath('css/loginandsignup.css')%>">
<div class="outer-container">
    <div class="container">
        <div class="left">
            <div class="logo"><img src="<%=assetPath('images/logo.png')%>" alt="logo"></div>
            <div >
                <p>New here ?</p>
                <button class="white-btn"><a href="/users/auth/google"><img src="<%=assetPath('images/google-icon.png')%>">Sign In/Signup</a></button>
            </div>
        </div>
        <div class="right">
            <form action="/users/create-session" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="abc@xyz.com" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>
                <input type="submit" value="Login" class="purple-btn" />
                <div id="forget-div">
                    <button class="purple-btn forget-btn"><a  href="/users/forgot-password">Forget Password?</a></button>
                </div>
            </form>
        </div>
    </div>
</div>