header {
    width: 100%;
    height: auto;
    background-color: #8a2be2;

    padding: 0px 0px;

    nav {
        
        .icon{
            display: none;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {

            a {
                display: flex;
                justify-content: flex-start;
                align-content: center;
                gap: 2px;

                &,
                &:hover,
                &:focus,
                &:active {
                    color: inherit;
                    text-decoration: none;
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin: 0px;
                        font-size: 1.4rem;
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: flex-end;
            align-content: center;
            list-style-type: none;
            gap: 5px;
            
             li {
                //margin-top: 12px;

                .dropdown {
                    position: relative;
                    display: inline-block;

                    .dropbtn {
                        background-color: #3f045f;
                        color: white;
                        padding: 0px 15px;
                        height: 100%;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        span{
                            display: none;
                        }
                    }

                    .dropdown-content {
                        left: -100px;
                        top: 30px;
                        display: none;
                        position: absolute;
                        background-color: #cfd8ff;
                        width:250px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        -ms-overflow-style: none;
                        overflow: auto;

                        //scrollbar-width: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        div {
                            list-style: none;
                          
                            margin: 0;
                            
                            justify-content: center;
                           // padding: 2px;
                            //width: 100%;
                            
                                width: 100%;
                                padding: 4px 4px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: center;

                                div {
                                    display: block;   
                                    h4 {
                                        font-size: 1.2rem;
                                        padding: 0;
                                        margin: 0;
                                    }
                                }

                                div {

                                    display: flex;    
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: row;
                                    gap: 2px;          
                                    div {
                    
                                        button {
                                            background-color: #3f045f;
                                            color: white;
                                            padding: 6px;
                                            width: 100%;
                                            height: 100%;
                                            font-size: 16px;
                                            border-radius: 10%;
                                            border: none;
                                            cursor: pointer;
                                        }
                                    }
                                }

                            
                        }
                    }

                    .dropdown-content >div{
                        color: black;
                        //padding: 12px 16px;
                        text-decoration: none;
                       
                        &:hover {
                            background-color: #f1f1f1;
                        }
                    }

                    .show {
                        display: block;
                        right: 10%;
                    }

                    &:hover .dropbtn {
                        background-color: #0195ff;
                    }
                }

                input {
                    background-color: #ededed;
                    border: none;
                    padding: 2px 4px;
                    height: 100%;
                    width: auto;
                    margin-right: 10px;
                    font-size: 1.07rem;
                    color: rgb(95, 42, 138);
                    font-weight: bold;
                    border-radius: 3px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    background-color: #dedede;
                    border: none;
                    padding: 0px 4px;
                    width: auto;
                    height: 100%;
                    margin-right: 10px;
                    font-size: 1.07rem;
                    color: rgb(95, 42, 138);
                    font-weight: bold;
                    border-radius: 5px;

                    &:hover {
                        background-color: #1cc7dd;
                        color: rgb(255, 255, 255);
                        cursor: pointer;
                    }

                    a:hover,
                    a:visited,
                    a:link {
                        color: inherit;
                        text-decoration: none;
                    }
                }

                .drop-button {
                    display: flex;
                    justify-content: flex-start;
                    align-content: center;
                    gap: 2px;

                    &,
                    &:hover,
                    &:focus,
                    &:active {
                        color: inherit;
                        text-decoration: none;
                    }

                    i {
                        color: white
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        nav {
            ul {
                li {
                    .dropdown .dropdown-content {
                        position: absolute;
                        left: -120px;
                        
                    }

                    a{
                        button i {
                            display: block !important;
                            ;
                        }

                        button span {
                            display: none
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .dropdown .dropdown-content{
        position: absolute;
        left: 0px;
    }
    header{
        width: 100.5%;
    }
    .topnav{ .friend-dropdown-li,.profile-li,.signout-li {display: none;}
    a.icon {
      float: right;
      display: block;
      padding: 14px 14px;
      background-color: rgb(208, 134, 245);
        color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .icon:hover {
        background-color: #ddd;
        color: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
  }
}
@media screen and (max-width: 600px) {
    .responsive {
        position: relative;
    }
    .responsive ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .responsive {

        .search-li{
            align-self: flex-start;
        }
        .friend-dropdown-li .dropdown{
            .dropbtn{
                display: flex;
                justify-content: space-evenly;
                width: 45vw;
                padding: 5px 15px;
                span{
                    display: block;
                }
            }
        }
        a{
            text-decoration: none;
        }
        .profile-li,.signout-li{
            
            text-align: start;
            
            button{
                
                display: flex;
                justify-content: space-evenly;
                width: 45vw;
                padding: 5px 15px;
                span{
                    display: block;
                }
            }
        }
        
    }

    .responsive a.icon {
        align-self: flex-start;
        margin-top: 6px;

    }
    .responsive  {
        .friend-dropdown-li,.profile-li,.signout-li { 
           float: none;
           display: flex;
            
        }
    }
  }
@media screen and (max-width: 420px) {
    .topnav{ .search-li {display: none;}}
    .responsive  {
        .search-li { 
           float: none;
           display: flex;
            input{
                width: 30vw;
            }
        }
    }
    
    .responsive {
        .search-li{
            align-self: flex-start;
        }
        .friend-dropdown-li .dropdown{
            .dropbtn{
                width:30vw;
                span{
                    display:none;
                }
            }
        }
        .profile-li,.signout-li{
            button{
                width: 30vw;
                span{
                    display: none;
                }
            }
        }
        
    }
}
