#home-containe {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    height: max-content;
    justify-content: space-between;


    //justify-content: flex-end;
    #feed-posts {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
            margin: 0;
            padding: 2;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
        }

        .form-for-post {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;

            #content {
                width: auto;
                height: auto;
                border: none;
                border-radius: 3%;
                padding: 0;
                margin: 0;
                font-size: 1.3rem;
                font-weight: bold;
                color: #000;
                border-bottom: 2px solid black;
            }

            #content:focus {
                outline: none;
            }

            #post-submit {
                background-color: rgb(95, 42, 138);
                border: none;
                padding: 5px 10px;
                width: auto;
                font-size: 1.07rem;
                color: white;
                font-weight: bold;
                border-radius: 5px;

                &:hover {
                    background-color: #1cc7dd;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                }
            }
        }

        #post-list-container {
            width: 60%;
            border-top: 2px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;

            #post-list-container-div {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .post {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2px;

                    .ithpost {
                        margin-left: 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        .name {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            flex-wrap: nowrap;


                            //align-items: center;
                            span {
                                font-size: 1.1rem;
                                font-weight: bold;
                                color: #000;
                            }

                            div {
                                .dropdown {

                                    position: relative;
                                    display: inline-block;

                                    .dropbtn {
                                        background-color: #712696;
                                        color: white;
                                        padding: 4px;
                                        border-radius: 20%;
                                        font-size: 16px;
                                        border: none;
                                        cursor: pointer;
                                        margin-bottom: 2px;
                                    }

                                    .dropdown-content {
                                        display: none;
                                        position: absolute;
                                        background-color: #b866c9;
                                        color: white;
                                        min-width: 80px;
                                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                        z-index: 1;

                                        a {
                                            color: white;
                                            padding: 8px 8px;
                                            text-decoration: none;
                                            display: block;

                                            &:hover {
                                                background-color: #840ea1;
                                                color: white;
                                            }
                                        }


                                    }

                                    &:hover {
                                        .dropdown-content {
                                            display: block;
                                        }

                                        .dropbtn {
                                            background-color: #3e0074;
                                            //color: white;
                                        }
                                    }
                                }
                            }

                        }

                        .content {
                            height: auto;
                            width: auto;
                            background-color: white;
                            border-radius: 3%;
                            padding: 5px;
                            font-size: 1.1rem;
                            border: 1px dashed black;
                        }

                        small {

                            .like__btn {
                                padding: 3px 6px;
                                background: #ff3a3a;
                                font-size: 13px;
                                font-family: "Open Sans", sans-serif;
                                border-radius: 5px;
                                color: #e8efff;
                                outline: none;
                                border: none;
                                cursor: pointer;

                                &:hover {
                                    background: #ca1919;
                                    color: #e8efff;
                                }
                            }

                        }
                    }

                    .post-comments {
                        margin: 0px 20px;
                        width: 80%;

                        form {
                            display: flex;
                            gap: 5px;
                            justify-content: space-between;

                            #comment-input {
                                width: 80%;
                                height: auto;
                                border: none;
                                border-radius: 3%;
                                padding: 0;
                                margin: 0;
                                padding: 4px 5px;
                                font-weight: bold;
                                color: #000;
                                background-color: inherit;
                                border-bottom: 2px solid black;

                                &:focus {
                                    outline: none;
                                }
                            }

                            #add-comment {
                                background-color: rgb(95, 42, 138);
                                border: none;
                                padding: 2px 5px;
                                width: auto;
                                color: white;
                                font-weight: bold;
                                border-radius: 5px;

                                &:hover {
                                    background-color: #1cc7dd;
                                    color: rgb(255, 255, 255);
                                    cursor: pointer;
                                }
                            }
                        }

                        .post-comments-list {
                            .post-comments-list-container {
                                margin-left: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 5px;

                                .comment {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2px;

                                    .name {
                                        font-size: 1rem;
                                        font-weight: bold;
                                        color: #000;
                                        display: flex;
                                        justify-content: space-between;

                                        span {
                                            font-size: 1rem;
                                            font-weight: bold;
                                            color: #000;
                                        }

                                        div {
                                            .dropdown {

                                                position: relative;
                                                display: inline-block;

                                                .dropbtn {
                                                    background-color: #712696;
                                                    color: white;
                                                    padding: 2px;
                                                    border-radius: 20%;
                                                    font-size: 16px;
                                                    border: none;
                                                    cursor: pointer;
                                                    margin-bottom: 2px;
                                                }

                                                .dropdown-content {
                                                    display: none;
                                                    position: absolute;
                                                    background-color: #b866c9;
                                                    min-width: 80px;
                                                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                                    z-index: 1;

                                                    a {
                                                        color: white;
                                                        padding: 8px 8px;
                                                        text-decoration: none;
                                                        display: block;

                                                        &:hover {
                                                            background-color: #840ea1;
                                                            color: white;
                                                        }
                                                    }


                                                }

                                                &:hover {
                                                    .dropdown-content {
                                                        display: block;
                                                    }

                                                    .dropbtn {
                                                        background-color: #3e0074;
                                                        //color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .content {
                                        margin-left: 0px;
                                        background-color: #eeeeeed6;
                                        padding: 1px 3px;
                                        border-radius: 4%;
                                        font-family: sans-serif;
                                    }

                                    small {
                                        .like__btn {
                                            padding: 3px 6px;
                                            background: #ff3a3a;
                                            font-size: 13px;
                                            font-family: "Open Sans", sans-serif;
                                            border-radius: 5px;
                                            color: #e8efff;
                                            outline: none;
                                            border: none;
                                            cursor: pointer;

                                            &:hover {
                                                background: #ca1919;
                                                color: #e8efff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #user-friends {
        border-left: 2px solid rgb(54, 54, 54);
            background-color: rgb(95, 42, 138);
            color: #f5f5f5;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
        div {
            
            

            //min-width:0%;
            h4 {
                //padding: 10px 0px;
                font-size: 1.3rem;
                font-weight: bold;
                padding: 5px 0px;
                margin: 10px 0px;
            }

            #friend-list {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1rem;

                .ithfriend {
                    .friend-container {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;

                        .friend-avatar {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {


                                background-position: center;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }
                        }

                        .friend-name {

                            a,
                            a:focus,
                            a:hover,
                            a:visited {
                                color: inherit;
                                text-decoration: none;
                            }

                            h2 {
                                font-size: 1.1rem;
                                margin: 5px 0px !important;
                            }
                        }
                    }
                }
            }
        }

    }


}