#home-containe {
    background-color: #F3F2EF;

    #news-card {
        border: 2px solid #000;
        border-radius: 10px;

        .card {
            width: 400px;
            background-color: #efefef;
            border: none;
            cursor: pointer;
            transition: all 0.5s;

            .headline {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            ul {
                list-style-type: circle;
                padding-left: 10px;
                margin: 0;

                li {
                    font-size: 13px;
                    font-weight: 600;
                    color: #000;
                    margin: 0;
                    padding: 0;

                    a {
                        color: #000;
                        text-decoration: none;

                        &:hover {
                            color: purple;
                        }
                    }
                }
            }
        }


    }

    #info-card {
        border: 2px solid #000;
        border-radius: 10px;

        .card {
            width: 400px;
            background-color: #efefef;
            border: none;
            cursor: pointer;
            transition: all 0.5s;

        }

        .image img {
            transition: all 0.5s;
            border-radius: 50px;
        }

        .card:hover .image img {
            transform: scale(1.5);
            border-radius: 50px;

        }

        .btn {
            height: 140px;
            width: 140px;
            border-radius: 50%
        }

        .name {
            font-size: 22px;
            font-weight: bold
        }

        .idd {
            font-size: 14px;
            font-weight: 600
        }

        .idd1 {
            font-size: 12px
        }

        .number {
            font-size: 22px;
            font-weight: bold
        }

        .follow {
            font-size: 12px;
            font-weight: 500;
            color: #444444
        }

        .btn1 {
            height: 40px;
            width: 150px;
            border: none;
            background-color: #000;
            color: #aeaeae;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        .text span {
            font-size: 13px;
            color: #545454;
            font-weight: 500
        }

        .icons i {
            font-size: 19px
        }

        hr .new1 {
            border: 1px solid
        }

        .join {
            font-size: 14px;
            color: #a0a0a0;
            font-weight: bold
        }

        .date {
            background-color: #ccc
        }
    }

    //justify-content: flex-end;
    #feed-posts {
        width: 100%;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
            margin: 0;
            padding: 2;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
        }

        .form-for-post {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;

            #post-image-preview {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

            #content {
                width: auto;
                height: auto;
                border: none;
                border-radius: 3%;
                padding: 0;
                margin: 0;
                font-size: 1.3rem;
                font-weight: bold;
                color: #000;
                border-bottom: 2px solid black;
            }

            #content:focus {
                outline: none;
            }

            #post-submit {
                background-color: rgb(95, 42, 138);
                border: none;
                padding: 5px 10px;
                width: auto;
                font-size: 1.07rem;
                color: white;
                font-weight: bold;
                border-radius: 5px;

                &:hover {
                    background-color: #1cc7dd;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                }
            }
        }

        #post-list-container {
            width: 60%;
            border-top: 2px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;

            #post-list-container-div {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .post {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2px;

                    .ithpost {
                        margin-left: 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        .name {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            flex-wrap: nowrap;


                            //align-items: center;
                            span {
                                font-size: 1.1rem;
                                font-weight: bold;
                                color: #000;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;

                                img {
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50%;
                                }
                            }

                            div {
                                .dropdown {

                                    position: relative;
                                    display: inline-block;

                                    .dropbtn {
                                        background-color: #712696;
                                        color: white;
                                        padding: 4px;
                                        border-radius: 20%;
                                        font-size: 16px;
                                        border: none;
                                        cursor: pointer;
                                        margin-bottom: 2px;
                                    }

                                    .dropdown-content {
                                        display: none;
                                        position: absolute;
                                        background-color: #b866c9;
                                        color: white;
                                        min-width: 80px;
                                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                        z-index: 1;

                                        a {
                                            color: white;
                                            padding: 8px 8px;
                                            text-decoration: none;
                                            display: block;

                                            &:hover {
                                                background-color: #840ea1;
                                                color: white;
                                            }
                                        }


                                    }

                                    &:hover {
                                        .dropdown-content {
                                            display: block;
                                        }

                                        .dropbtn {
                                            background-color: #3e0074;
                                            //color: white;
                                        }
                                    }
                                }
                            }

                        }

                        .content {
                            height: auto;
                            width: auto;
                            background-color: white;
                            border-radius: 3%;
                            padding: 5px;
                            font-size: 1.1rem;
                            border: 1px dashed black;
                            display: flex;
                            flex-direction: column;

                            img {
                                width: 100%;
                            }
                        }

                        small {

                            .like__btn {
                                padding: 3px 6px;
                                background: #ff3a3a;
                                font-size: 13px;
                                font-family: "Open Sans", sans-serif;
                                border-radius: 5px;
                                color: #e8efff;
                                outline: none;
                                border: none;
                                cursor: pointer;

                                &:hover {
                                    background: #ca1919;
                                    color: #e8efff;
                                }
                            }

                        }
                    }

                    .post-comments {
                        margin: 0px 20px;
                        width: 80%;

                        form {
                            display: flex;
                            gap: 5px;
                            justify-content: space-between;

                            #comment-input {
                                width: 80%;
                                height: auto;
                                border: none;
                                border-radius: 3%;
                                padding: 0;
                                margin: 0;
                                padding: 4px 5px;
                                font-weight: bold;
                                color: #000;
                                background-color: inherit;
                                border-bottom: 2px solid black;

                                &:focus {
                                    outline: none;
                                }
                            }

                            #add-comment {
                                background-color: rgb(95, 42, 138);
                                border: none;
                                padding: 2px 5px;
                                width: auto;
                                color: white;
                                font-weight: bold;
                                border-radius: 5px;

                                &:hover {
                                    background-color: #1cc7dd;
                                    color: rgb(255, 255, 255);
                                    cursor: pointer;
                                }
                            }
                        }

                        .post-comments-list {
                            .post-comments-list-container {
                                margin-left: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 5px;

                                .comment {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2px;

                                    .name {
                                        font-size: 1rem;
                                        font-weight: bold;
                                        color: #000;
                                        display: flex;
                                        justify-content: space-between;

                                        span {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 5px;
                                            font-size: 1rem;
                                            font-weight: bold;
                                            color: #000;

                                            img {
                                                width: 35px;
                                                height: 35px;
                                                border-radius: 50%;
                                            }
                                        }

                                        div {
                                            .dropdown {

                                                position: relative;
                                                display: inline-block;

                                                .dropbtn {
                                                    background-color: #712696;
                                                    color: white;
                                                    padding: 2px;
                                                    border-radius: 20%;
                                                    font-size: 16px;
                                                    border: none;
                                                    cursor: pointer;
                                                    margin-bottom: 2px;
                                                }

                                                .dropdown-content {
                                                    display: none;
                                                    position: absolute;
                                                    background-color: #b866c9;
                                                    min-width: 80px;
                                                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                                    z-index: 1;

                                                    a {
                                                        color: white;
                                                        padding: 8px 8px;
                                                        text-decoration: none;
                                                        display: block;

                                                        &:hover {
                                                            background-color: #840ea1;
                                                            color: white;
                                                        }
                                                    }


                                                }

                                                &:hover {
                                                    .dropdown-content {
                                                        display: block;
                                                    }

                                                    .dropbtn {
                                                        background-color: #3e0074;
                                                        //color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .content {
                                        margin-left: 0px;
                                        background-color: #eeeeeed6;
                                        padding: 1px 3px;
                                        border-radius: 4%;
                                        font-family: sans-serif;

                                    }

                                    small {
                                        .like__btn {
                                            padding: 3px 6px;
                                            background: #ff3a3a;
                                            font-size: 13px;
                                            font-family: "Open Sans", sans-serif;
                                            border-radius: 5px;
                                            color: #e8efff;
                                            outline: none;
                                            border: none;
                                            cursor: pointer;

                                            &:hover {
                                                background: #ca1919;
                                                color: #e8efff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #weather-card {
        border: 2px solid #000;
        border-radius: 10px;

        .card {
            width: 400px !important;

            input {
                padding: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 25px;
                border: none;
                background-color: #fff;
                font-family: inherit;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                font-size: 1rem;
                width: 100%;
            }

            input:focus {
                outline: none;
            }

            #weathermain {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;


                .weather {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;

                    h2 {
                        margin: 0px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 70px;
                            height: 70px;
                        }

                        // Media Query
                        @media (max-width: 991px) {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }

                    small {
                        font-size: 1rem;
                        font-weight: bold;
                        color: #000;
                    }
                }


            }
        }

    }

    #user-friends {
        border: 2px solid #000;
        border-radius: 10px;

        .outercard {
            width: 400px !important;

            .ithcard {
                width: 100%;
                background-color: #ebebeb;
                border: none;
                cursor: pointer;
                transition: all 0.5s;
                font-size: 14px;
                border-radius: 40px;
                margin-bottom: 20px;

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 20px;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 500;
                    color: #444444;
                }

                .friend-name {
                    a {

                        font-weight: bold;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        text-decoration: none;

                        h5 {
                            font-size: 15px;
                            font-weight: bold;
                            color: #000;
                            gap: 5px;
                        }

                    }
                }
            }

        }
    }


}