#feedActionVideo {
    .panel1 {

        text-align: center;
    }

    .button_outer1 {
        background: #8a2be2;
        border-radius: 30px;
        text-align: center;
        height: 50px;
        width: auto;
        display: inline-block;
        transition: .2s;
        position: relative;
        overflow: hidden;
    }

    .btn_upload1 {
        padding: 12px 30px;
        color: #fff;
        text-align: center;
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index: 3;
        white-space: nowrap;
    }

    .btn_upload1 input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    .file_uploading1 {
        width: 100%;
        height: 10px;
        margin-top: 20px;
        background: #ccc;
    }

    .file_uploading1 .btn_upload1 {
        display: none;
    }

    .processing_bar1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 30px;
        background: #83ccd3;
        transition: 3s;
    }

    .file_uploading1 .processing_bar1 {
        width: 100%;
    }

    .file_uploaded1 {
        margin-top: 0;
        width: 50px;
        background: #83ccd3;
        height: 50px;
        display: none;
    }

    .uploaded_file_view1 {
        max-width: 300px;
        margin: 0px auto;
        text-align: center;
        position: relative;
        transition: .2s;
        opacity: 0;
        border: 2px solid #ddd;
        padding: 0px;
    }

    .file_remove1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        position: absolute;
        background: #aaa;
        line-height: 30px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        right: -15px;
        top: -15px;
    }

    .file_remove1:hover {
        background: #222;
        transition: .2s;
    }

    .uploaded_file_view1 video {
        max-width: 100%;
    }

    .uploaded_file_view1.show {
        opacity: 1;
    }

    .error_msg1 {
        text-align: center;
        color: #f00
    }
}

#feedActionPhoto {
    .panel {

        text-align: center;
    }

    .button_outer {
        background: #8a2be2;
        border-radius: 30px;
        text-align: center;
        height: 50px;
        width: auto;
        display: inline-block;
        transition: .2s;
        position: relative;
        overflow: hidden;
    }

    .btn_upload {
        padding: 12px 30px;
        color: #fff;
        text-align: center;
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index: 3;
        white-space: nowrap;
    }

    .btn_upload input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    .file_uploading {
        width: 100%;
        height: 10px;
        margin-top: 20px;
        background: #ccc;
    }

    .file_uploading .btn_upload {
        display: none;
    }

    .processing_bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 30px;
        background: #83ccd3;
        transition: 3s;
    }

    .file_uploading .processing_bar {
        width: 100%;
    }

    .file_uploaded {
        margin-top: 0;
        width: 50px;
        background: #83ccd3;
        height: 50px;

    }

    .uploaded_file_view {
        max-width: 300px;

        margin: 0px auto;
        text-align: center;
        position: relative;
        transition: .2s;
        opacity: 0;
        border: 2px solid #ddd;
        padding: 0px;
    }

    .file_remove {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        position: absolute;
        background: #aaa;
        line-height: 30px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        right: -15px;
        top: -15px;
    }

    .file_remove:hover {
        background: #222;
        transition: .2s;
    }

    .uploaded_file_view img {
        max-width: 100%;
    }

    .uploaded_file_view.show {
        opacity: 1;
    }

    .error_msg {
        text-align: center;
        color: #f00
    }
}

#feedActionAudio {
    .panel2 {

        text-align: center;
    }

    .audio-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        audio {
            width: 90% !important;
        }
    }

    .button_outer2 {
        background: #8a2be2;
        border-radius: 30px;
        text-align: center;
        height: 50px;
        width: auto;
        display: inline-block;
        transition: .2s;
        position: relative;
        overflow: hidden;
    }

    .btn_upload2 {
        padding: 12px 30px;
        color: #fff;
        text-align: center;
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index: 3;
        white-space: nowrap;
    }

    .btn_upload2 input {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    .file_uploading2 {
        width: 100%;
        height: 10px;
        margin-top: 20px;
        background: #ccc;
    }

    .file_uploading2 .btn_upload2 {
        display: none;
    }

    .processing_bar2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 30px;
        background: #83ccd3;
        transition: 3s;
    }

    .file_uploading2 .processing_bar2 {
        width: 100%;
    }

    .file_uploaded2 {
        margin-top: 0;
        width: 50px;
        background: #83ccd3;
        height: 50px;
        display: none;
    }

    .uploaded_file_view2 {
        max-width: 300px;
        margin: 0px auto;
        text-align: center;
        position: relative;
        transition: .2s;
        opacity: 0;
        border: 2px solid #ddd;
        padding-top: 10px;
    }

    .file_remove2 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        position: absolute;
        background: #aaa;
        line-height: 30px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        right: -15px;
        top: -15px;
    }

    .file_remove2:hover {
        background: #222;
        transition: .2s;
    }

    .uploaded_file_view2 video {
        max-width: 100%;
    }

    .uploaded_file_view2.show {
        opacity: 1;
    }

    .error_msg2 {
        text-align: center;
        color: #f00
    }
}

.avatar-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #000;
}


.modal {

    #feedActionVideo {}

    .modal-body {

        .body1 {
            textarea {
                background-color: #ebebeb;
                border-radius: 10px;
                border: 1px solid #000 !important;
            }

            .bg-light {
                background-color: #ebebeb !important;
                border-radius: 10px;

            }

        }

        .hstack {
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .icon-md {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 0.9em;
                border-radius: 50%;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                text-decoration: none;
            }
        }
    }


    .btn-success-soft {
        color: #fff;
        background-color: #00d27a;
        border-color: #00d27a;
        box-shadow: none;
        transition: all 0.2s ease-in-out;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.45rem 1.5rem;
        border-radius: 0.25rem;
        line-height: 1.5;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        margin: 0;
        -webkit-appearance: button;

        &:hover {
            color: #fff;
            background-color: #00c078;
            border-color: #00b56a;
        }
    }

}

// scroll bar width for chrome, safari and opera
::-webkit-scrollbar {
    width: 0px;
}



// scroll bar width for firefox

#home-containe {
    background-color: #F3F2EF;
    position: relative;
    width: 100%;

    .position-fixed {
        position: fixed;
        top: 20px;
    }

    #refresh-post {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

    }

    .user-friends-container-fixed {
        width: 22.5% !important;
    }

    .news-card-container-fixed {
        width: 30.5% !important;
    }

    .weather-card-container-fixed {
        width: 23.5% !important;
    }

    #news-card {
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        overflow: hidden;

        .card {
            width: 100%;
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            transition: all 0.5s;

            .headline {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            ul {
                list-style-type: circle;
                padding-left: 10px;
                margin: 0;

                li {
                    font-size: 13px;
                    font-weight: 600;
                    color: #000;
                    margin: 0;
                    padding: 0;

                    a {
                        color: #000;
                        text-decoration: none;

                        &:hover {
                            color: purple;
                        }
                    }
                }
            }
        }


    }

    #info-card {
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        overflow: hidden;

        .card {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            transition: all 0.5s;
            width: 100%;
        }

        .image img {
            transition: all 0.5s;
            border-radius: 50px;
        }

        .card:hover .image img {
            transform: scale(1.5);
            border-radius: 50px;

        }

        .btn {
            height: 140px;
            width: 140px;
            border-radius: 50%
        }

        .name {
            font-size: 22px;
            font-weight: bold
        }

        .idd {
            font-size: 14px;
            font-weight: 600
        }

        .idd1 {
            font-size: 12px
        }

        .number {
            font-size: 22px;
            font-weight: bold
        }

        .follow {
            font-size: 15px;
            font-weight: 500;
            color: #444444
        }

        .btn1 {
            height: 40px;
            width: 150px;
            border: none;
            background-color: #000;
            color: #aeaeae;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        .text span {
            font-size: 13px;
            color: #545454;
            font-weight: 500
        }

        .icons i {
            font-size: 19px
        }

        hr .new1 {
            border: 1px solid
        }

        .join {
            font-size: 14px;
            color: #a0a0a0;
            font-weight: bold
        }

        .date {
            background-color: #ccc
        }
    }

    //justify-content: flex-end;
    #feed-posts {
        width: 100%;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #post-form-container {
            width: 100%;

            .card {
                border: 1px solid #a0a0a0;



                .avatar-img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 15px;
                    border: 1px solid #000;
                }


                textarea {
                    background-color: #ebebeb;
                }


                .bg-light {
                    background-color: #ebebeb !important;
                    border-radius: 10px;

                }

                li {
                    font-weight: bold;

                    a {
                        color: #000 !important;
                    }
                }
            }
        }

        #post-list-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;


            #post-list-container-div {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .post {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2px;

                    .ithpost {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        .card-body {
                            .post-content {
                                .fa-quote-left {
                                    font-size: 0.7rem;
                                    color: #000;
                                }

                                .fa-quote-right {
                                    font-size: 0.7rem;
                                    color: #000;
                                }

                            }


                            .nav {
                                .nav-item {
                                    font-weight: bold;
                                }
                            }

                            .viewfullscreen {
                                display: none;
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                background: #00000087;
                                justify-content: flex-end;

                                i {
                                    color: #fff;
                                }
                            }

                            .card-image-container {
                                background-color: #00000076;
                                border-radius: 10px;
                                overflow: hidden;
                            }

                            //show full screen btn when hover on card-image-container
                            .card-image-container:hover .viewfullscreen {
                                display: flex;
                            }

                            .card-image-container:focus .viewfullscreen {
                                display: flex;
                            }

                            .card-img {
                                max-height: 400px;
                                object-fit: contain;
                            }

                            //modal
                            .modal-content {
                                position: relative;
                            }


                            .btn-close {
                                position: absolute;
                                right: 0px;
                                top: 0;
                                font-weight: normal;
                                opacity: 1;
                                background-color: transparent;
                                border: none;
                            }

                            @media (min-width: 600px) {
                                .btn-close {
                                    position: absolute;
                                    right: -30px !important;
                                    top: 0;
                                }
                            }

                            .small {
                                font-size: 1rem;
                                color: #000;
                            }

                            .avatar-img {
                                height: 50px;
                                width: 50px;
                            }

                            .comment-input,
                            .reply-input {
                                background-color: #ebebeb !important;
                            }

                            .liked {
                                color: rgb(1, 143, 58);

                            }

                            .comment-wrap .comment-item-nested {
                                padding-left: 2.75rem;
                            }

                            .comment-item {
                                width: 100%;

                                .share {
                                    a {
                                        text-decoration: none;
                                        color: black;
                                        font-weight: bold;
                                        font-size: 1rem;
                                        text-transform: capitalize;
                                    }
                                }


                            }
                        }

                        .cardFeedAction,
                        .commentAction,
                        .replyAction {
                            background-color: #ebebeb !important;
                        }

                        .card-title>a {
                            text-decoration: none;
                            color: black;
                            font-weight: bold;
                            font-size: 1.2rem;
                            text-transform: capitalize;
                        }

                        .card-header {
                            background-color: #f7f7f7 !important;
                        }
                    }
                }
            }
        }
    }

    #weather-card {
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        overflow: hidden;

        .card {
            width: 100%;

            input {
                padding: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 25px;
                border: none;
                background-color: #fff;
                font-family: inherit;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                font-size: 1rem;
                width: 100%;
            }

            input:focus {
                outline: none;
            }

            #weathermain {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;


                .weather {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;

                    h2 {
                        margin: 0px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 70px;
                            height: 70px;
                        }

                        // Media Query
                        @media (max-width: 991px) {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }

                    small {
                        font-size: 1rem;
                        font-weight: bold;
                        color: #000;
                    }
                }


            }
        }

    }

    #user-friends {
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        overflow: hidden;

        .outercard {
            width: 100%;

            .ithcard {
                width: 100%;
                background-color: #ebebeb;
                border: none;
                cursor: pointer;
                transition: all 0.5s;
                font-size: 14px;
                border-radius: 40px;
                margin-bottom: 20px;

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 20px;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 500;
                    color: #444444;
                }

                .friend-name {
                    a {

                        font-weight: bold;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        text-decoration: none;

                        h5 {
                            font-size: 15px;
                            font-weight: bold;
                            color: #000;
                            gap: 5px;
                        }

                    }
                }
            }

        }
    }


}

@media screen and (max-width: 600px) {
    .avatar-img {
        width: 50px !important;
        height: 50px !important;
    }

}