#profile-container {
  width: 100%;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
  min-height: 90vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#profile-container #profile-part {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid grey;
}
#profile-container #profile-part h1 {
  margin: 0;
}
#profile-container #profile-part #other-users {
  margin-left: 4px;
}
#profile-container #profile-part #other-users .container {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  margin: 0px auto;
  background: #5f2a8a;
  color: white;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  display: inline-block !important;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}
#profile-container #profile-part #other-users .container #social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#profile-container #profile-part #other-users .cover-photo {
  background: url("https://images.pexels.com/photos/1535907/pexels-photo-1535907.jpeg?cs=srgb&dl=pexels-karyme-fran%C3%A7a-1535907.jpg&fm=jpg");
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#profile-container #profile-part #other-users .profile {
  height: 110px;
  width: 110px;
  border-radius: 20%;
  margin: 90px 0 0 5px;
  border: 1px solid #1f1a32;
  padding: 7px;
  background: #292343;
}
#profile-container #profile-part #other-users .profile-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0 0px 150px;
}
#profile-container #profile-part #other-users .profile-username {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 150px;
}
#profile-container #profile-part #other-users .about {
  margin-top: 25px;
  line-height: 21px;
  font-size: 0.8rem;
}
#profile-container #profile-part #other-users button {
  margin: 0px 0 20px 0;
}
#profile-container #profile-part #other-users .msg-btn,
#profile-container #profile-part #other-users .follow-btn {
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
#profile-container #profile-part #other-users .follow-btn {
  margin-left: 115px;
  background: transparent;
  color: #d3f9fd;
}
#profile-container #profile-part #other-users .follow-btn:hover {
  color: #231e39;
  background: #03bfbc;
  transition: 0.5s;
}
#profile-container #profile-part #other-users .container i {
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#profile-container #profile-part #other-users .container i:hover {
  color: #03bfbc;
}
#profile-container #profile-part #other-users .follow-btn i {
  padding: 0;
  margin: 0;
  font-size: 15px;
}
#profile-container #profile-part div {
  display: flex;
}
#profile-container #profile-part div #avatar-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-container #profile-part div #avatar-form-container #avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
#profile-container #profile-part div #avatar-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  gap: 10px;
}
#profile-container #profile-part div #avatar-form-container form input {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid purple;
}
#profile-container #profile-part div #avatar-form-container form input:focus {
  outline: none;
}
#profile-container #profile-part div #avatar-form-container form input[type=file] {
  background-color: white;
}
#profile-container #profile-part div #avatar-form-container form input[type=submit] {
  background-color: #8A2BE2;
  color: white;
  font-size: 1.1rem;
}
#profile-container #profile-part div #avatar-form-container form input[type=submit]:hover {
  background-color: #b773f7;
  color: white;
  cursor: pointer;
}
#profile-container #profile-part div #preview {
  position: absolute;
  bottom: 60;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 1px solid #ccc;
}
#profile-container #profile-part img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#profile-container #profile-part h2 {
  margin: 0;
}
#profile-container #timeline-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#profile-container #timeline-container h2 {
  margin: 0;
}
#profile-container #timeline-container .post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap: 10px;
}
#profile-container #timeline-container .post-container .post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
#profile-container #timeline-container .post-container .post .ithpost {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .ithpost .name {
  flex-wrap: nowrap;
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .ithpost .name span {
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
#profile-container #timeline-container .post-container .post .ithpost .name span img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .ithpost .content {
  align-self: flex-start;
  height: auto;
  width: 80%;
  background-color: white;
  border-radius: 3%;
  padding: 5px;
  flex-wrap: wrap;
  font-size: 1.1rem;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profile-container #timeline-container .post-container .post .ithpost .content img {
  width: 99%;
  margin: 0 auto;
  height: auto;
}
#profile-container #timeline-container .post-container .post .ithpost small {
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .ithpost small .like__btn {
  padding: 3px 6px;
  background: #ff3a3a;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}
#profile-container #timeline-container .post-container .post .ithpost small .like__btn:hover {
  background: #ca1919;
  color: #e8efff;
}
#profile-container #timeline-container .post-container .post .post-comments {
  margin: 0px 20px;
  width: 80%;
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment .name {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: space-between;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment .name span {
  font-size: 1rem;
  align-self: flex-start;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment .name span img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment .content {
  align-self: flex-start;
  margin-left: 0px;
  background-color: rgba(238, 238, 238, 0.8392156863);
  padding: 1px 3px;
  border-radius: 4%;
  font-family: sans-serif;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment small {
  align-self: flex-start;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment small .like__btn {
  padding: 3px 6px;
  background: #ff3a3a;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}
#profile-container #timeline-container .post-container .post .post-comments .post-comments-list .post-comments-list-container .comment small .like__btn:hover {
  background: #ca1919;
  color: #e8efff;
}

@media screen and (max-width: 768px) {
  #profile-container #profile-part {
    border: none;
  }
}
@media screen and (max-width: 576px) {
  #profile-container {
    flex-direction: column;
  }
  #profile-container #profile-part {
    border: none;
  }
  #profile-container #profile-part #preview {
    display: none;
  }
  #profile-container #timeline-container {
    margin-left: 1rem;
  }
}/*# sourceMappingURL=user_profile.css.map */