<body style="background-color:grey">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="550" bgcolor="white"
        style="border:2px solid black">
        <tbody>
            <tr>
                <td align="center" style="background-color: #8b24c6;
                            height: 50px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="col-550" width="550">
                        <tbody style="background-color: #8b24c6;
                        height: 50px;">
                            <tr style="background-color: #8b24c6;
                            height: 50px;">
                                <td align="center" style="background-color: #8b24c6;
                                           height: 50px;">
                                    <a href="http://socioknct.tech" style="text-decoration: none;text-align:center;">
                                        <p style="color:white;text-align: center;">
                                            <img src="https://firebasestorage.googleapis.com/v0/b/ipod-e4eb6.appspot.com/o/logo_icon.png?alt=media&token=4cb10a29-7ce5-46d5-8192-2dbd968ccdef"
                                                style="height:50px">
                                            <div style="color:white;text-align: center;font-size:30px;">
                                                SocialKnct
                                            </div>

                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="height: 300px;">
                <td align="center" style="border: none;
                           border-bottom: 2px solid #8b24c6; 
                           padding-right: 20px;padding-left:20px">

                    <p style="font-weight: bolder;font-size: 40px;
                              letter-spacing: 0.025em;
                              color:black;">
                        Welcome to SocialKnct
                        <br>
                        <hr><span style="font-size:30px">Check out who commented on your post</span>
                        <hr>
                    </p>
                </td>
            </tr>

            <tr style="display: inline-block;">
                <td style="height: 150px;
                           padding: 20px;
                           border: none; 
                           border-bottom: 2px solid #361B0E;
                           background-color: white;">

                    <h2 style="text-align: left;
                               align-items: center;">
                        <strong>
                            <%=comment.user.name%>
                        </strong>
                        commented on your post
                    </h2>
                    <p class="data" style="text-align: justify-all;
                              align-items: center; 
                              font-size: 15px;
                              padding-bottom: 12px;">
                        <%= comment.content%>
                    </p>
                    <p>
                        <a href="http://socioknct.tech/" style="text-decoration: none; 
                                  color:white; 
                                  border: 2px solid #8b24c6;
                                  background-color: #8b24c6;
                                  padding: 10px 30px;
                                  font-weight: bold;" target="_blank">
                            View
                        </a>
                    </p>
                </td>
            </tr>
            <tr style="border: none; 
            background-color: #8a2be2; 
            height: 40px; 
            color:white; 
            padding-bottom: 20px; 
            text-align: center;">

                <td height="40px" align="center">
                    <p style="color:white;text-align:center;">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ipod-e4eb6.appspot.com/o/logo.png?alt=media&token=b435e482-5292-4bb2-96b6-6718ddfa2dfe"
                            style="height:50px">


                    </p>
                    <a href="#" style="border:none;
                               text-decoration: none; 
                               padding: 5px;">

                        <img height="30"
                            src="https://firebasestorage.googleapis.com/v0/b/ipod-e4eb6.appspot.com/o/google-icon.png?alt=media&token=8f062093-d328-473e-a992-5dcb49fdf03a"
                            width="30" />
                    </a>

                    <a href="#" style="border:none;
                        text-decoration: none; 
                        padding: 5px;">

                        <img height="30"
                            src="https://firebasestorage.googleapis.com/v0/b/ipod-e4eb6.appspot.com/o/linkedin.png?alt=media&token=84685c3c-dea1-4198-bb45-baa555bce288"
                            width="30" />
                    </a>

                    <a href="#" style="border:none;
                        text-decoration: none;
                        padding: 5px;">

                        <img height="28"
                            src="https://firebasestorage.googleapis.com/v0/b/ipod-e4eb6.appspot.com/o/github.png?alt=media&token=17631bd3-34e2-4f0d-b79c-67401e3fde20"
                            width="28" style="position: relative; 
                                   padding-bottom: 2px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-family:'Open Sans', Arial, sans-serif;
           font-size:11px; line-height:18px; 
           color:#999999;" valign="top" align="center">
                    <a href="#" target="_blank" style="color:#999999; 
          text-decoration:underline;">PRIVACY STATEMENT</a>
                    | <a href="#" target="_blank" style="color:#999999; text-decoration:underline;">TERMS OF SERVICE</a>
                    | <a href="#" target="_blank" style="color:#999999; text-decoration:underline;">RETURNS</a><br>
                    © 2022 SocialKnct. All Rights Reserved.<br>
                    If you do not wish to receive any further
                    emails from us, please
                    <a href="#" target="_blank" style="text-decoration:none; 
                         color:#999999;">unsubscribe</a>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    <tr>
        <td class="em_hide" style="line-height:1px;
                 min-width:700px;
                 background-color:#ffffff;">
            <img alt="" src="images/spacer.gif" style="max-height:1px; 
              min-height:1px; 
              display:block; 
              width:700px; 
              min-width:700px;" width="700" border="0" height="1">
        </td>
    </tr>
    </tbody>
    </table>
</body>